<template>
  <require from="./../../resources/value-converters/dateformat"></require>
  <div class="week-view">
    <div class="row">
      <div class="col-lg-6 col-xs-6"><h2>Shift 1</h2></div>
      <div class="col-lg-6 col-xs-6"><h2>Shift 2</h2></div>
    </div>
    <div class="row day-info ${dayInfo.today ? 'highlighted' : ''}" repeat.for="dayInfo of weekView">
      <h3>${dayInfo.date | dateFormat: 'DD/MM/YYYY' : true}</h3>
      <div class="col-lg-6 col-xs-6" repeat.for="entry of dayInfo.entries">
        <strong>${entry.engineer}</strong>
      </div>
    </div>
  </div>
</template>
